flowchart/
docsmetrics/
problematic_areas/
results_tmp/
figsNov/
figures/
data/
s2data/
tmp/
presentations/
tmpgeotif/
gridGEE/
notes/
GEE_results_geotiff/
alessandro_metric/
GRASSGIS_files/
scripts/guido/
